<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<title>History</title>
<style type="text/css">
body {
	padding-top: 85px;
	padding-left: 10px;
	background-color: #006494;
}

.users-stocks h1 {
	text-align: center;
	color: white;
}

.table {
	margin: auto;
	width: 80%;
	background-color: white;
}
</style>
</head>
<body>
	<header>
		<nav
			class="navbar fixed-top navbar-expand-md navbar-dark
     bg-dark">
			<!-- put image logo below-->
			<img
				src="https://p1.hiclipart.com/preview/223/551/659/social-media-logo-trade-board-of-directors-company-trading-company-brand-ambassador-management-parent-company-png-clipart.jpg
        "
				width="50" height="50" /> <a href="/Dashboard"
				class=" px-2 navbar-brand mb-0 h1"> NapTrading </a>
			<button type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarNav" class="navbar-toggler"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active"><a href="#" class="nav-link"></a>
					</li>
					<li class="nav-item active"><a href="/Account"
						class="nav-link"> Account </a></li>
					<li class="nav-item active"><a href="/Buy"
						class="nav-link"> Buy </a></li>
					<li class="nav-item active"><a href="/UserStocks"
						class="nav-link"> My Stocks </a></li>
					<li class="nav-item active"><a href="/History"
						class="nav-link"> My History </a></li>
				</ul>
				<ul class="nav-bar-nav ms-auto">
					<li class="nav-item active"><a href="/logout" class="nav-link">
							Logout </a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="users-stocks">
		<div th:text="${error}"></div>
		<h1 class="display-3 text-center">Trade History</h1>
		<table class="table" style="width: 80%">
			<thead>
				<tr>
					<th style="width: 5%">Company</th>
					<th style="width: 5%">Order Type</th>
					<th style="width: 5%">Sale Type</th>
					<th style="width: 5%">Region</th>
					<th style="width: 5%">Amount</th>
					<th style="width: 5%">Price per stock</th>
					<th style="width: 5%">Status</th>
					<th style="width: 5%">Edit</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="order : ${orders}">

					<td th:text="${order.stockId.companyId.companyName}"></td>
					<td th:text="${order.orderType}"></td> 
					<td th:text="${order.saleType}"></td> 
					<td th:text="${order.stockId.region}"></td>
	    			<td th:text="${order.stockAmount}"></td> 
					<td th:text="${order.salePrice}"></td>
					<td th:text="${order.orderStatus}"></td>
					<td>
						<span th:if="${#strings.equals(order.orderStatus, 'COMPLETE') OR #strings.equals(order.orderStatus, 'PARTIAL')}">Unavailable</span>
						<span th:unless="${#strings.equals(order.orderStatus, 'COMPLETE') OR #strings.equals(order.orderStatus, 'PARTIAL')}">
							<a th:href="@{/deleteOrder/{saleType}/{orderId} (saleType=${order.saleType}, orderId=${order.orderId})}" th:text="Delete"></a>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>

</body>
</html>